{% extends 'base_user.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block body %}

        <!--**********************************
            Content body start
        ***********************************-->
        <div class="content-body">
            {% if messages %}
                {% for message in messages %}
                    {% if message.tags == "success" %}
                    <div class="card-body">
                        <div class="alert alert-primary alert-dismissible fade show">
                            <svg viewBox="0 0 24 24" width="24" height="24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" class="me-2"><circle cx="12" cy="12" r="10"></circle><path d="M8 14s1.5 2 4 2 4-2 4-2"></path><line x1="9" y1="9" x2="9.01" y2="9"></line><line x1="15" y1="9" x2="15.01" y2="9"></line></svg>
                            <strong>Welcome!</strong> {{message}}
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="btn-close">
                            </button>
                        </div>
                    </div>
                    {% endif %}
                    {% endfor %}
                {% endif %}
            <div class="container-fluid">
                {% comment %} <div class="page-titles">
					<ol class="breadcrumb">
						<li class="breadcrumb-item"><a href="javascript:void(0)">Shop </a></li>
						<li class="breadcrumb-item active"><a href="javascript:void(0)">Checkout</a></li>
					</ol>
                </div> {% endcomment %}
                <div class="row">
                    <div class="col-xl-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-lg-4 order-lg-2 mb-4">
                                        <h4 class="d-flex justify-content-between align-items-center mb-3">
                                            <span class="text-muted">Disease History</span>
                                            <button type="button" class="btn btn-rounded btn-info" data-bs-toggle="modal" data-bs-target=".bd-example-modal-lg"><span
												class="btn-icon-start text-info" ><i class="fa fa-plus color-info"></i>
											</span>Add</button>

                                            <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-hidden="true">
                                                <div class="modal-dialog modal-lg">
                                                    <div class="modal-content">
                                                        <form method="POST">
                                                            {% csrf_token %}
                                                        <div class="modal-header">
                                                            <h5 class="modal-title">Modal title</h5>
                                                            <button type="button" class="btn-close" data-bs-dismiss="modal">
                                                            </button>
                                                        </div>
                                                        <div class="card-body">
                                                            <div class="basic-form">

                                                                    {{form_modal.disease|as_crispy_field}}


                                                            </div>
                                                        </div>
                                                        <div class="card">
                                                            <div class="card-header">
                                                                <h4 class="card-title">Textarea</h4>
                                                            </div>
                                                            <div class="card-body">
                                                                <div class="basic-form">

                                                                        <div class="mb-3">
                                                                            {{form_modal.description|as_crispy_field}}
                                                                        </div>

                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-danger light" data-bs-dismiss="modal">Close</button>
                                                            <button type="submit" name="modal_sub" class="btn btn-primary">Save changes</button>
                                                        </div>
                                                    </form>

                                                    </div>
                                                </div>
                                            </div>


                                        </h4>
                                        <ul class="list-group mb-3">

											{% for disease in user.user_disease.all %}
                                            <li class="list-group-item d-flex justify-content-between lh-condensed">
                                                <div>
                                                    <h6 class="my-0">{{disease.disease.name}}</h6>
                                                    <small class="text-muted">{{disease.description}}</small>
                                                </div>
                                                <a href="/delete_disease/{{disease.id}}">
                                                <button type="button" class="btn btn-danger">Remove <span class="btn-icon-end"><i class="fas fa-times"></i></i></span>
												</button>
                                            </a>
                                            </li>
											{% endfor %}
                                            {% comment %} <li class="list-group-item d-flex justify-content-between lh-condensed">
                                                <div>
                                                    <h6 class="my-0">Second product</h6>
                                                    <small class="text-muted">Brief description</small>
                                                </div>
                                                <span class="text-muted">$8</span>
                                            </li>
                                            <li class="list-group-item d-flex justify-content-between lh-condensed">
                                                <div>
                                                    <h6 class="my-0">Third item</h6>
                                                    <small class="text-muted">Brief description</small>
                                                </div>
                                                <span class="text-muted">$5</span>
                                            </li>
                                            <li class="list-group-item d-flex justify-content-between active">
                                                <div class="text-white">
                                                    <h6 class="my-0 text-white">Promo code</h6>
                                                    <small>EXAMPLECODE</small>
                                                </div>
                                                <span class="text-white">-$5</span>
                                            </li>
                                            <li class="list-group-item d-flex justify-content-between">
                                                <span>Total (USD)</span>
                                                <strong>$20</strong>
                                            </li> {% endcomment %}
                                        </ul>

                                        {% comment %} <form>
                                            <div class="input-group">
                                                <input type="text" class="form-control" placeholder="Promo code">
												<button type="submit" class="input-group-text">Redeem</button>
                                            </div>
                                        </form> {% endcomment %}
                                    </div>
                                    <div class="col-lg-8 order-lg-1">
                                        <h4 class="mb-3">Personal Informations</h4>
                                        <form class="needs-validation" novalidate="" method="POST" enctype="multipart/form-data">
                                            {% csrf_token %}
                                            <div class="row">
                                                <div class="col-md-6 mb-3">
                                                    <label for="firstName" class="form-label">First name</label>
                                                    {{form.first_name|as_crispy_field}}
                                                    <div class="invalid-feedback">
                                                        Valid first name is required.
                                                    </div>
                                                </div>
                                                <div class="col-md-6 mb-3">
                                                    <label for="lastName"  class="form-label">Last name</label>
                                                    {{form.last_name|as_crispy_field}}
                                                    <div class="invalid-feedback">
                                                        Valid last name is required.
                                                    </div>
                                                </div>
                                            </div>

                                            {% comment %} <div class="mb-3">
                                                <label for="username"  class="form-label">Username</label>
                                                <div class="input-group">
													<span class="input-group-text">@</span>
                                                    <input type="text" class="form-control border-s-1" id="username" placeholder="Username" required="">
                                                    <div class="invalid-feedback" style="width: 100%;">
                                                        Your username is required.
                                                    </div>
                                                </div>
                                            </div> {% endcomment %}

                                            <div class="mb-3">
                                                <label for="email"  class="form-label">Address <span
                                                        class="text-muted"></span></label>
                                                {{form.adress|as_crispy_field}}
                                                <div class="invalid-feedback">
                                                    Please enter a valid email address for shipping updates.
                                                </div>
                                            </div>


                                            <div class="mb-3">
                                                <label for="email"  class="form-label">Email <span
                                                        class="text-muted"></span></label>
                                                {{form.email|as_crispy_field}}
                                                <div class="invalid-feedback">
                                                    Please enter a valid email address for shipping updates.
                                                </div>
                                            </div>

                                            <div class="mb-3">
                                                <label for="email"  class="form-label">Phone <span
                                                        class="text-muted"></span></label>
                                                {{form.phone|as_crispy_field}}
                                                <div class="invalid-feedback">
                                                    Please enter a valid phone number for shipping updates.
                                                </div>
                                            </div>



                                                <div class="basic-form custom_file_input">

                                                        <div class="input-group">

                                                                {{form.image|as_crispy_field}}

                                                        </div>

                                                </div>


                                            <hr class="mb-4">

                                            <button type="submit" name="sub_main" class="btn btn-primary btn-lg btn-block">Submit Data </button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--**********************************
            Content body end
        ***********************************-->


		{% endblock body %}